{{#section 'style'}}
    <link rel="stylesheet" href="/stylesheets/stripe.css">
{{/section}}
<div class="container">
<form action="/charge" method="post" id="payment-form" class="form-group">
  <div class="form-row form-group">
    <label for="card-element">Name on card</label>
    <input type="text" name="" value="" id="cardholder-name" class="form-control mb-4">
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
  </div>

  <button class="btn btn-primary " datasecret="{{ client_secret }}" id="card-button">Make Payment</button>
</form>
</div>
{{#section 'script'}}
    <script src="https://js.stripe.com/v3/"></script>

    <script>
        // Create a Stripe client.
        var stripe = Stripe('{{publisableKey}}');

        // Create an instance of Elements.
        var elements = stripe.elements();
        var style = {
        base: {
        color: '#32325d',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
          color: '#aab7c4'
        }
        },
        invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
        }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>.
        var cardElement = card.mount('#card-element');
        console.log(card);
        // Handle real-time validation errors from the card Element.
        card.addEventListener('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
        displayError.textContent = event.error.message;
        } else {
        displayError.textContent = '';
        }
        });

        // Handle form submission.
        var cardholderName = document.getElementById('cardholder-name');
        var cardButton = document.getElementById('card-button');
        var clientSecret = cardButton.attributes.datasecret.value;
        cardButton.addEventListener('click', function(ev) {
        ev.preventDefault();

        stripe.handleCardPayment(
            clientSecret, card, {
              payment_method_data: {
                billing_details: {name: cardholderName.value}
              }
            }
          ).then(function(result) {
            if (result.error) {
              // Display error.message in your UI.
            } else {
              // The payment has succeeded. Display a success message.
            }
          });
        });
    </script>
{{/section}}
